{% extends 'base.html' %}
{% load add_class %}
{% load static %}

{% block title %}Submit restaurant{% endblock title %}

<!-- Radio and check inputs -->
{% block css %}
    <link href="{% static 'css/skins/square/grey.css' %}" rel="stylesheet">
{% endblock css %}


<!-- SubHeader =============================================== -->
{% block SubHeader %}
    <section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg"
             data-natural-width="1400" data-natural-height="350">
        <div id="subheader">
            <div id="sub_content">
                <h1>Work with us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p></p>
            </div><!-- End sub_content -->
        </div><!-- End subheader -->
    </section><!-- End section -->


    <div id="position">
        <div class="container">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Submit restaurant</li>
            </ul>
            <a href="#0" class="search-overlay-menu-btn"><i class="icon-search-6"></i> Search</a>
        </div>
    </div><!-- Position -->

{% endblock SubHeader %}
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
{% block content %}
    <div class="container margin_60_35">
        <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Increase your customers</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="feature">
                    <i class="icon_datareport"></i>
                    <h3><span>Increase</span> your sales</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
                <div class="feature">
                    <i class="icon_chat_alt"></i>
                    <h3><span>H24</span> chat support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="feature">
                    <i class="icon_bag_alt"></i>
                    <h3><span>Delivery</span> or Takeaway</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
                <div class="feature">
                    <i class="icon_mobile"></i>
                    <h3><span>Mobile</span> support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="feature">
                    <i class="icon_wallet"></i>
                    <h3><span>Cash</span> payment</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
            <div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
                <div class="feature">
                    <i class="icon_creditcard"></i>
                    <h3><span>Secure card</span> payment</h3>
                    <p>
                        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor
                        imperdiet deterruisset, doctus volumus explicari qui ex, appareat similique an usu.
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->

    <div class="container margin_60">
        <div class="main_title margin_mobile">
            <h2 class="nomargin_top">Please submit the form below</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form action="{% url 'submit_restaurant' %}" method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>First name:</label><!-- Auto fields  -->
                                <input type="text" class="form-control" id="name_contact" name="name_contact"
                                       value="{{ request.user.first_name }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="form-group">
                                <label>Last name:</label><!-- Auto fields  -->
                                <input type="text" class="form-control" id="lastname_contact" name="lastname_contact"
                                       value="{{ request.user.last_name }}" readonly>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Email:</label><!-- Auto fields  -->
                                <input type="email" value="{{ request.user.email }}" class="form-control" readonly>
                            </div>
                        </div><!-- End row 1 -->
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Phone number:</label>
                                {{ form.phone_number|add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 pull-right">
                            <div class="form-group">
                                <label>Restaurant name:</label>
                                {{ form.name| add_class:'form-control' }}
                            </div>
                        </div>
                    </div><!-- End row 2 -->
                    <div class="row">

                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Website:</label>
                                {{ form.website_url| add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label>Email:</label>
                            {{ form.email |add_class:'form-control'}}
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Is take away?</label>
                                {{ form.is_take_away| add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="form-group">
                                <label>Is delivery?</label>
                                {{ form.is_delivery| add_class:'form-control' }}
                            </div>
                        </div>
                    </div><!-- End row 3 -->
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Longitude:</label>
                                {{ form.long| add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Lattitude:</label>
                                {{ form.lat| add_class:'form-control' }}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Postal code:</label>
                                {{ form.postal_code| add_class:'form-control' }}
                            </div>
                        </div>
                    </div><!-- End row 4 -->
                    <div id="pass-info" class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label>Logo:</label>
                            <div class="form-control">
                                {{ form.logo }}
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            {{ form.tags.label_tag }}
                            <div class="form-control">
                                {{ form.tags }}
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Delivery charge:</label>
                            <div class="form-control">
                                {{ form.delivery_charge }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.description.label_tag }}
                            {{ form.description |safe }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <label>
                                <input name="mobile" type="checkbox" value="" class="icheck" required>
                                Accept
                                <a href="#0" id="term">terms and conditions</a>.
                            </label>
                            <div class="TERM overlay" hidden>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore
                                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpai
                                    ui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div><!-- End row 5 -->
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <input name="mobile" type="checkbox" value="" class="icheck" required>
                                Accept all fields.
                            </label>
                        </div>
                    </div><!-- End row 6 -->
                    <hr style="border-color:#ddd;">
                    <div class="text-center">
                        <button type="submit" class="btn_full_outline">Submit</button>
                    </div>
                </form>
            </div><!-- End col  -->
        </div><!-- End row  -->
    </div><!-- End container  -->


{% endblock content %}
<!-- End Content =============================================== -->


{% block js %}
    <script>
        $(document).ready(function () {
            $('#term').click(function () {
                if ($('.TERM').is(":hidden")) {
                    $('.TERM').show("slow");
                } else {
                    $('.TERM').hide("slow");
                }
            })
        })
    </script>
{% endblock js %}