{% load static %}

<!-- Footer ================================================== -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-3">
				<h3>Secure payments with</h3>
				<p>
					<img src="{% static 'img/cards.png' %}" alt="" class="img-responsive">
				</p>
			</div>
			<div class="col-md-3 col-sm-3">
				<h3>About</h3>
				<ul>
					<li><a href="{% url 'about_us' %}">About us</a></li>
					<li><a href="{% url 'faq' %}">Faq</a></li>
					<li><a href="{% url 'contacts' %}">Contacts</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4" id="newsletter">
				<h3>Newsletter</h3>
				<p>
					Join our newsletter to keep be informed about offers and news.
				</p>
				<div id="message-newsletter_2">
				</div>
				<form method="POST"  data-url_ajax="{% url 'subscribe' %}" id="subscribe_form">
					{% csrf_token %}
					<div class="form-group">
						<input id="user_email" name="email_newsletter_2" type="email"
						       placeholder="Your mail" class="form-control" required>
					</div>
					<div>
						<input id="submitID" type="submit" value="Subscribe" class="btn_1">
						<i id="subsSpinner" class="icon-spin4 animate-spin loader" hidden></i>
					</div>
				</form>
			</div>
		</div><!-- End row -->
		<div class="row">
			<div class="col-md-12">
				<div id="social_footer">
					<ul>
						<li><a href="https://facebook.com"><i class="icon-facebook"></i></a></li>
						<li><a href="https://twitter.com"><i class="icon-twitter"></i></a></li>
						<li><a href="https://google.com"><i class="icon-google"></i></a></li>
						<li><a href="https://instagram.com"><i class="icon-instagram"></i></a></li>
						<li><a href="https://pinterest.com"><i class="icon-pinterest"></i></a></li>
						<li><a href="https://vimo.com"><i class="icon-vimeo"></i></a></li>
						<li><a href="https://youtube.com"><i class="icon-youtube-play"></i></a></li>
					</ul>
					<p>
						© Quick Food {% now 'Y' %}
					</p>
				</div>
			</div>
		</div><!-- End row -->
	</div><!-- End container -->
</footer>
<!-- End Footer =============================================== -->
{% block js %}
	<script src="{% static 'js/Custom js/footer.js' %}"></script>
{% endblock js %}