<div class="col-md-3">

	<div class="box_style_2 hidden-xs info">
		<h4 class="nomargin_top">Delivery time <i class="icon_clock_alt pull-right"></i></h4>
		<p>
			Lorem ipsum dolor sit amet, in pri partem essent. Qui debitis meliore ex, tollit debitis
			conclusionemque te eos.
		</p>
		<hr>
		<h4>Secure payment <i class="icon_creditcard pull-right"></i></h4>
		<p>
			Lorem ipsum dolor sit amet, in pri partem essent. Qui debitis meliore ex, tollit debitis
			conclusionemque te eos.
		</p>
	</div><!-- End box_style_1 -->

	<div class="box_style_2 hidden-xs" id="help">
		<i class="icon_lifesaver"></i>
		<h4>Need Help?</h4>
		<a href="tel://{{ restaurant.phone_number }}" class="phone">{{ restaurant.phone_number }}</a>
		<small>Only answered in working time</small>
	</div>

</div><!-- End col-md-3 -->