{% extends 'base.html' %}
{% load static %}

{% block title %}Step 2{% endblock title %}

<!-- Radio and check inputs -->
<!-- SPECIFIC CSS -->
<link href="{% static 'css/skins/square/grey.css' %}" rel="stylesheet">

<!-- SubHeader =============================================== -->
{% block SubHeader %}
	<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/sub_header_cart.jpg"
	         data-natural-width="1400" data-natural-height="350">
		<div id="subheader">
			<div id="sub_content">
				<h1>Place your order</h1>
				<div class="bs-wizard">
					<div class="col-xs-4 bs-wizard-step complete">
						<div class="text-center bs-wizard-stepnum"><strong>1.</strong> Your details</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a  class="bs-wizard-dot"></a>
					</div>

					<div class="col-xs-4 bs-wizard-step active">
						<div class="text-center bs-wizard-stepnum"><strong>2.</strong> Payment</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a  class="bs-wizard-dot"></a>
					</div>

					<div class="col-xs-4 bs-wizard-step disabled">
						<div class="text-center bs-wizard-stepnum"><strong>3.</strong> Finish!</div>
						<div class="progress">
							<div class="progress-bar"></div>
						</div>
						<a  class="bs-wizard-dot"></a>
					</div>
				</div><!-- End bs-wizard -->
			</div><!-- End sub_content -->
		</div><!-- End subheader -->
	</section><!-- End section -->

	<div id="position">
		<div class="container">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'menu' order_list.restaurant.id %}">Menu</a></li>
				<li><a href="{% url 'step_1'%}">Step 1</a></li>
				<li>Step 2: Payment</li>
			</ul>
		</div>
	</div><!-- Position -->
{% endblock SubHeader %}
<!-- End SubHeader ============================================ -->

<!-- Content ================================================== -->
{% block content %}
	<div class="container margin_60_35">
		<div class="row">
			{% include 'ordering/side_left.html' %}

			<div class="col-md-6">
				<div class="box_style_2">
					<h2 class="inner">Payment</h2>
					<div class="payment_select">
						<label>
							<input type="radio" value="" name="payment_method" class="icheck" checked>Credit card
						</label>
						<i class="icon_creditcard"></i>
					</div>
					<div id="PayCreditCard" style="padding: 20px">
						<div class="form-group">
							<label>Name on card</label>
							<input type="text" class="form-control" id="name_card_order" name="name_card_order"
							       placeholder="First and last name">
						</div>
						<div class="form-group">
							<label>Card number</label>
							<input type="text" id="card_number" name="card_number" class="form-control"
							       placeholder="Card number">
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Expiration date</label>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<input type="text" id="expire_month" name="expire_month"
											       class="form-control" placeholder="mm">
										</div>
									</div>
									<div class="col-md-6 col-sm-6">
										<div class="form-group">
											<input type="text" id="expire_year" name="expire_year" class="form-control"
											       placeholder="yyyy">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<label>Security code</label>
									<div class="row">
										<div class="col-md-4 col-sm-6">
											<div class="form-group">
												<input type="text" id="ccv" name="ccv" class="form-control"
												       placeholder="CCV">
											</div>
										</div>
										<div class="col-md-8 col-sm-6">
											<img src="{% static 'img/icon_ccv.gif' %}" width="50" height="29" alt="ccv"><small>Last
											3 digits</small>
										</div>
									</div>
								</div>
							</div>
						</div><!--End row -->
					</div>
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->

			<div class="col-md-3" id="sidebar">
				<div class="theiaStickySidebar">
					<div id="cart_box">

						{% include 'ordering/order_list.html' with restaurant=restaurant order_detail=order_detail %}
						<a class="btn_full" href="{% url 'step_3' %}">
							Step forward <i class="icon-left"></i>
						</a>
						<a class="btn_full_outline" href="{% url 'step_1' %}">
							<i class="icon-right"></i> Step back
						</a>
					</div><!-- End cart_box -->
				</div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->

		</div><!-- End row -->
	</div><!-- End container -->
{% endblock content %}
<!-- End Content =============================================== -->

<!-- SPECIFIC SCRIPTS -->
{% block js %}
	<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
	<script src="{% static 'js/Custom js/order_list.js' %}"></script>
{% endblock js %}

